
html{
  width: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
      width: 100% !important;
}
body {
  font-family: Arial, sans-serif;
    background-color: #84adea;
  width: 100%;
  font-size: x-large;
  
}
.mainTitle{
    color: #729dae;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 90%;
    margin: 10% auto 2% auto;
    border-radius: 10px;
      background-color: #f1f3f485;
  border: #84ADEA 1px solid;
}
{
box-sizing: border-box;
}

#titles th{
    font-weight: 600;

}
#open-news-popup h2{
    text-align: center;

}
  #open-bank-popup h2{
  text-align: right;

}

h1 {
  text-align: center;
}

.game {
  background-color: #7a828e5e;
  /*background-color: #f7f7f8;*/
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color:#fff;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.h80{
    height: 80%;
      min-height: 80%;
}
#info-area{
    display: grid;
    background-color: #6a9f9f9e;
    border-radius: 10px;
    border: #84ADEA 1px solid;
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  min-height: 200px;
}



#msg-area{

  width: 100%;
    display: block;
    text-align: center;
    padding: 2%;
    box-sizing: border-box;
}

}
#total-cash, #msg-area h2{
        cursor: pointer;

}

.status{
 
    display: block;
    margin: 2%;
  text-align: center;
  padding: 5%;
  font-size: 26px;
box-sizing: border-box;
}

#stocks {
  margin-bottom: 20px;
}

#stocks table {
  width: 100%;
  border-collapse: collapse;
      cursor: pointer;
}

#stocks th,
#stocks td {
  padding: 8px;
  text-align: left;
}

#stocks th:first-child,
#stocks td:first-child {
  width: 50%;
}

#stocks th:nth-child(2),
#stocks td:nth-child(2) {
  width: 30%;
}

#stocks th:last-child,
#stocks td:last-child {
  width: 20%;
}

#portfolio-table th,
#portfolio-table td {
  padding: 8px;
  text-align: center;
}
  #portfolio-body tr{
border: #3371AB solid 2px;
    border-left: none;
    border-right: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      cursor: pointer;

}
.buttons-wrap{
    overflow-x: auto;
    width: 100%;
    display: block;

}
.buttons {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-bottom: 20px;
    margin-left: 100px;
      width: 100%;
    padding-left: 5%;
    box-sizing: border-box;
}

.buttons button {
  padding: 10px 20px;
  font-size: 16px;
background-color: #84adea;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
    font-size: large;
    font-weight: 800;
    flex: 1;
    box-sizing: border-box;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.buttons button:hover {
  background-color: #2980b9;
}

#net-worth {
text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 2%;
    margin: 2%;
    box-sizing: content-box;
    border-radius: 10px;
    margin-top: 10%;
    border: #84ADEA 2px solid;
    background-color: #729dae;
}
#pause-popup .popup-content{
    height: fit-content !important
}

#stocks-table-body{

font-size: 30px;
}




#net-worth h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

#net-worth-value {
  font-size: 36px;
}


.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom:0;
  right:0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup-content {
    background-color: #84adea;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    overflow: auto;
    display: block;
    margin: auto;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    height: 80%;
    width: 90%;
      border: #84ADEA 1px solid;
}

.popup h2 {
  margin-top: 0;
}

.popup p {
  margin-bottom: 20px;
}

.popup button {
  padding: 10px 20px;
}



.popup label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.popup input[type="number"],
.popup select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  margin-bottom: 10px;
}

.popup button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
}

.popup button:hover {
  background-color: #45a049;
}

.popup button#close-lender-popup {
  background-color: #f44336;
}

.popup button#close-lender-popup:hover {
  background-color: #d32f2f;
}



.stock-row{
    border: #84adea  solid 2px;
    border-left: none;
    border-right: none;
    background-color: #6a9f9f9e;

  }
#open-news-popup h2{
        cursor: pointer;

}

.news-item{
    padding: 5%;
    box-sizing: content-box;
        cursor: pointer;

}
.breaking-news-item{
    padding: 5%;
    box-sizing: content-box;
      text-align: center;
        cursor: pointer;

}


#top-area {
font-size: 36px;
    margin-top: 30px;
    text-align: right;
      width: 100%;
display: flex;
    font-weight: 600;
}
#portfolio-BTN {
    text-align: center;
     width: 100%;
        cursor: pointer;
}


#total-cash{
background-color: #729dae;
  border-radius: 10px;
    padding: 5%;
    box-sizing: border-box;
    margin: 2%;
      width: 50%;
    text-align: center;
      border: #84ADEA 1px solid;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
#counter {
background-color: #729dae;
  border-radius: 10px;
    padding: 8%;
    box-sizing: border-box;
    margin: 2%;
      width: 50%;
    text-align: center;
      border: #84ADEA 1px solid;
      cursor: pointer;
      display: grid;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

}


#stock-chart {
    margin: auto;
    width: 90%;
    padding: 5%;
    box-sizing: content-box;
}


#news-content, #bank-content{
    height: 60%;
    width: auto;
    overflow-y: scroll !important;
    padding: 5%;
display: block;
}
#loans-content{
  height: 60%;
    width: auto;
    overflow-y: auto !important;
    padding: 5%;
display: block;
}
#news-content, #bank-content, #loans-content{
      background-color: #fff;
}


#loans-popup > .popup-content{

display: inline-grid !important;
}

.loan-item{
    cursor: pointer;
    margin: 5%;
    font-size: 26px;
    font-weight: 500;
}
.loan-item div{
display: block;
      text-align: center;
    flex: 3;
}
#portfolio-body th{
border: #3371AB solid 2px;
    border-left: none;
    border-right: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      cursor: pointer;
}

#stock-popup-quantity{
        cursor: pointer;

}
#portfolio-table{
    height: 60%;
    width: auto;
    overflow-y: scroll;
display: block;
  }


  .store-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.store-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  padding: 10px;
  background-color: #f5f5f5;
  border-radius: 5px;
      flex: 2;
}

.store-item img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 5px;
}

.store-item span {
  margin-top: 5px;
  font-size: 16px;
  font-weight: bold;
}

.store-item button {
  margin-top: 10px;
  padding: 5px 10px;
  font-size: 14px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.store-item button:hover {
  background-color: #45a049;
}

/* Add more custom styles as needed */


#store-container {
    display: flex;
    flex-flow: wrap-reverse;
    overflow: auto;
    height: 500px;
}


/* Slider styles */
#slider {
  width: 200px;
  margin-bottom: 10px;
}

#sliderValue {
  font-weight: bold;
}

/* Checkbox styles */
#skipWeekends {
  margin-left: 5px;
}

#ad-body {
text-align: center;
    padding: 10%;
}
